.warning-banner {
  background-color: red;
  color: white;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 0.5rem;
}

.warning-banner strong {
  color: yellow;
  font-weight: 700;
}

.warning-banner .highlight {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}
